{% extends "base.html" %}
{% load static %}
{% block content %}

    <form method="POST">{% csrf_token %}
        <div class="mb-3 content">
        <h1 class="text-center mt-5 mb-5 text-white-50">Log in </h1>
          <input name="username" type="text" class="form-control" placeholder="login">
          <input name="password" type="password" class="form-control mt-4" placeholder="password">  
          <button type="submit" class="btn btn-outline-light login_form">Kirish</button>
        </div>
    </form>

{% endblock content %}